header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.25rem;
    height: 100%;
    background-color: #fff;
    color: var(--dark-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar__logo {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

.navbar__logo:hover,
.navbar__logo:focus {
    color: var(--secondary-color);
    transition: ease 250ms;
}

.navbar__toggle {
    background-color: transparent;
    font-size: 1.10rem;
}

.navbar__toggle:hover,
.navbar__toggle:focus {
    color: var(--primary-color);
    transition: ease 250ms;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

/* Navbar Dropdown */
#navbar-dropdown {
    display: none;
}

.navbar__dropdown {
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 64px;
    left: 0;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.navbar__links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.navbar__link {
    color: var(--dark-color);
    padding: 0.5rem 0;
    font-weight: 500;
}

.navbar__link:hover, .navbar__link:focus {
    color: var(--primary-color);
    transition: ease 250ms;
}

.navbar__soon-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbar__soon-title {
    color: #9CA3AF;
}

.navbar__soon-container {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    color: #6b7280;
}

.navbar__soon-item {
    color: #6b7280;
    font-size: 0.9rem;
}

.navbar__soon-item::marker {
    font-size: smaller;
}