header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 1;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--space-md);
  height: 100%;
  background-color: #fff;
  color: var(--dark-color);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar__logo {
  color: var(--primary-color);
  font-size: var(--font-2xl);
  font-weight: 700;
}

.navbar__logo:hover,
.navbar__logo:focus {
  color: var(--secondary-color);
  transition: ease 250ms;
}

.navbar__toggle {
  background-color: transparent;
  font-size: var(--font-xl);
}
.navbar__toggle:hover,
.navbar__toggle:focus {
  color: var(--primary-color);
  transition: ease 250ms;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* Navbar Dropdown */
.navbar__dropdown {
  display: none;
  flex-direction: column;
  gap: var(--space-xs);
  position: absolute;
  top: 64px;
  left: 0;
  padding: var(--space-sm) var(--space-sm) 0.75rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.navbar__links {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.navbar__item {
  display: flex;
  width: 100%;
  font-weight: 500;
}

.navbar__link {
  width: 100%;
  color: var(--dark-color);
  padding: var(--space-sm) 0.75rem;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--primary-color);
  transition: ease 250ms;
}

.navbar__soon {
  display: flex;
  flex-direction: column;
  padding: var(--space-sm) 0.75rem;
  gap: var(--space-xs);
}

.navbar__soon-title {
  color: #9ca3af;
  font-size: var(--font-sm);
}

.navbar__soon-container {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  padding-left: var(--space-lg);
  color: #6b7280;
}

.navbar__soon-item {
  color: #6b7280;
  font-size: var(--font-sm);
}

.navbar__soon-item::marker {
  font-size: var(--font-xs);
}

#desktop {
  display: none;
}

/* Dispositivos Mobile Maiores */
@media screen and (min-width: 40rem) {
  .navbar {
    padding-inline: var(--space-lg);
  }

  .navbar__dropdown {
    padding: var(--space-sm) 0.75rem 0.75rem;
  }
}

/* Dispositivos Tablet */
@media screen and (min-width: 48rem) {
  #mobile,
  #dropdownMenu {
    display: none;
    margin: 0;
    padding: 0;
  }

  #desktop {
    display: flex;
  }

  .navbar__links {
    flex-direction: row;
    gap: var(--space-md);
  }

  .navbar__item {
    display: flex;
    width: auto;
    align-items: center;
    gap: var(--space-xs);
    font-size: var(--font-sm);
  }

  .navbar__item i {
    font-size: var(--font-xs);
  }

  .navbar__item:hover,
  .navbar__item:focus {
    color: var(--primary-color);
    transition: ease 250ms;
  }

  .navbar__dropdown--desktop {
    display: flex;
    position: relative;
  }

  .navbar__dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -85%;
    min-width: 200px;
    border-radius: 0.5rem;
    padding: var(--space-xs) 0;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar__dropdown--desktop:hover .navbar__dropdown-content {
    display: flex;
  }

  .navbar__dropdown-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .navbar__soon-title {
    color: #9ca3af;
    font-size: var(--font-sm);
    padding: var(--space-sm) var(--space-md);
  }

  .navbar__dropdown-item {
    display: flex;
    padding: var(--space-sm) var(--space-md);
    width: 100%;
    font-size: var(--font-sm);
    color: #6b7280;
  }
}

/* Notebook */
@media screen and (min-width: 64rem) {
  .navbar {
    padding-inline: var(--space-xl);
  }
}

/* Desktop */
@media screen and (min-width: 80rem) {
  .navbar {
    justify-content: space-around;
  }

  .navbar__link {
    font-size: var(--font-md);
  }
}

/* Large Desktop */
@media screen and (min-width: 96rem) {
  .navbar {
    justify-content: space-evenly;
    height: 80px;
  }

  .navbar__logo {
    font-size: var(--font-3xl);
  }

  .navbar__links {
    gap: var(--space-lg);
  }

  .navbar__link,
  .navbar__item {
    font-size: var(--font-lg);
  }

  .navbar__dropdown-content {
    left: -25%;
    min-width: 300px;
    padding: var(--space-md);
  }

  .navbar__dropdown-item {
    font-size: var(--font-xl);
  }
}