@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables Styles */
:root {
    /* Color Variables */
    --primary-color: #10b981;
    --secondary-color: #059669;
    --accent-color: #34D399;
    --neutral-color: ##F3F4F6;
    --dark-color: #1F2937;
}

/* Begin Main Style */
.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    gap: 4rem;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: #fff;
    gap: 1rem;
    padding: 4.5rem;
}

.hero-section .title {
    font-size: 4rem;
    text-align: center;
}

.hero-section .subtitle {
    font-size: 1.25rem;
    max-width: 650px;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-section span {
    color: var(--accent-color);
}

.hero-section p {
    opacity: 0.9;
}

.hero-section .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero-buttons button {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-weight: 500;
}

.hero-buttons .primary-btn {
    background-color: #fff;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.hero-buttons .secondary-btn {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.hero-buttons .secondary-btn:hover,
.hero-buttons .secondary-btn:focus {
    background-color: #fff;
    color: var(--primary-color);
}

.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: var(--neutral-color);
    gap: 1rem;
}

.features-section .title {
    font-size: 2rem;
    color: var(--dark-color);
}

.features-section p {
    color: #6B7280;
}

.features-section .features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.features-container .feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
    width: 350px;
    gap: 1rem;
    line-height: 1.5;
}

.feature-card i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

.feature-card h3 {
    color: var(--dark-color);
    font-size: 1.2rem;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #fff;
    gap: 1.5rem;
    padding: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.about-section .about-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    width: 450px;
}

.about-section h2,
.about-section h3 {
    color: var(--dark-color);
}

.about-section .about-title {
    font-size: 2rem;
    text-align: center;
}

.about-card .card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.about-description,
.card-description {
    color: #6B7280;
}

.card-description {
    max-width: 400px;
}

.tools {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #fff;
}

.tools .card-title {
    font-size: 1.5rem;
    color: #fff;
}

.tools i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0.9rem;
    font-size: 0.75rem;
}

.tools .soon i {
    background-color: var(--primary-color);
    opacity: 0.5;
}

.tools .soon {
    color: #fff;
}

.tools ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

.tools ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* End Main Style */