main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: var(--space-4xl) var(--space-md);
  gap: var(--space-xl);
  width: 100%;
}

.calculator {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}

.calculator__title {
  color: var(--dark-color);
  font-size: var(--font-3xl);
  margin-bottom: var(--space-md);
  text-align: center;
}

.calculator__description {
  color: #4b5563;
  font-size: var(--font-lg);
  margin-bottom: var(--space-2xl);
  text-align: center;
}

.calculator__container {
  background-color: var(--neutral-color);
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: var(--space-xl);
  border-radius: 12px;
  gap: var(--space-xl);
}

.calculator__article {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.calculator__subtitle {
  font-size: var(--font-xl);
  color: var(--dark-color);
  font-weight: 500;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form__label {
  font-size: var(--font-sm);
  color: var(--dark-color);
  font-weight: 500;
}

.form__input {
  padding: 0.75rem var(--space-md);
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  line-height: var(--line-normal);
}

.form__input:focus {
  border: 1px solid var(--primary-color);
  transition: ease 250ms;
}

.form__select {
  padding: 0.75rem var(--space-md);
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  line-height: var(--line-normal);
  font-size: var(--font-md);
  display: flex;
}

.form__select:focus {
  border: 1px solid var(--primary-color);
  transition: ease 250ms;
}

.form__group--buttons {
  gap: var(--space-md);
}

.form__button {
  background-color: var(--primary-color);
  padding: 0.75rem 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  line-height: var(--line-normal);
}

.form__button:hover,
.form__button:focus {
  background-color: var(--secondary-color);
  transition: ease 250ms;
}

.form__button--secondary {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.form__button--secondary:hover,
.form__button--secondary:focus {
  background-color: var(--primary-color);
  color: #fff;
}

.calculator__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-md);
  padding: var(--space-lg);
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  color: #6b7280;
}

.calculator__result--secondary {
  background-color: #f0fdf4;
  border: none;
  padding: var(--space-md);
  width: 100%;
  gap: 0;
}

.calculator__result-title {
  font-size: var(--font-3xl);
  color: var(--primary-color);
  font-weight: 700;
}

.calculator__result-subtitle {
  font-size: var(--font-lg);
  color: var(--dark-color);
  font-weight: 500;
}

.calculator__result-text {
  font-size: var(--font-sm);
  color: #374151;
}

.calculator__result-text--error {
  color: #dc2626;
  opacity: 0.75;
}

.calculator__result-text--info {
  font-size: var(--font-xs);
  color: #4b5563;
  margin-top: var(--space-sm);
}

.calculator__info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.calculator__info-title {
  font-size: var(--font-md);
  color: var(--dark-color);
  font-weight: 500;
}

.calculator__info-description {
  font-size: var(--font-sm);
  color: #4b5563;
}

/* Info Section */
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--space-xl);
  gap: var(--space-sm);
  background-color: var(--neutral-color);
}

.info__title {
  font-size: var(--font-2xl);
  color: var(--dark-color);
  font-weight: 500;
  text-align: center;
  border-radius: 0.75rem;
}

.info__article {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-md);
}

.info__article-title {
  font-size: var(--font-lg);
  color: var(--dark-color);
  font-weight: 500;
}

.info__article-description {
  color: #4b5563;
}

.info__article-list {
  list-style: disc;
  padding-left: var(--space-md);
}

.info__article-item {
  font-size: var(--font-md);
  color: #4b5563;
}

.info__article-item::marker {
  font-size: var(--font-sm);
  color: #4b5563;
}

.info__article-em {
  font-style: normal;
  font-weight: 500;
  color: var(--dark-color);
}
