body {
    font-size: 1.5rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft";
    min-height: 100vh;
    color: #fff;
}

.header {
    grid-area: hd;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #111;
    min-height: 25vh;
}

.main {
    grid-area: mn;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #333;
}

.sidebar {
    grid-area: sb;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #555;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: #777;
}